{{#each artistResults }}
    <p>{{name}}</p>
    {{!-- <p>{{images}}</p> --}}
    <div><img src="{{images.0.url}}" alt="imgs"/></div>

    <a href="#">View Albums</a>
{{/each}}

{{!-- /albums/someArtistIdGoesHere --}}